.btn {
  background-color: #3185fc;
  padding: 5px 12px;
  border-radius: 10%;
  transition: 0.5s ease;
  outline: none;
  border: none;
  color: #fff;
}

.btnlight {
  background-color: #731dd8;
  padding: 6px 13px;
}
.btn:hover {
  background-color: #731dd8;
}
.span {
  color: #fff;
}
